<div class="topic_center">
  <div class="shop_show">
    <div class="listing_shop">
      <h1><%= @shops_name.name %></h1>
      <!-- <p><%= @shops_name.introduce %></p> -->
    </div>

    <% if @topics.length > 0 %>
      <%= render 'topics/content' %>
    <% else %>
      <p >関連する記事がありません。</p>
    <% end %>
  </div>
</div>
