<div class="bottom_content">
  <div class="row">
    <div class="col-md-6">
      <a href="contacts/new">
      <%= image_tag "post.jpg" ,id:"post"%>
      </a>
    </div>
    <div class="col-md-6">
      <%= image_tag "ono_recruitment.jpg" ,id:"post"%>
    </div>
  </div>
</div>
