<div class="bottom_content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <a href="contacts/new">
        <%= image_tag "post.jpg" ,class:"post"%>
        </a>
      </div>
      <div class="col-md-6">
        <%= image_tag "ono_recruitment.jpg" ,class:"post"%>
      </div>
    </div>
  </div>

</div>
