<div class="bottom_content">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "post.jpg" ,id:"post"%>
      <%= link_to "ご依頼投稿ページ", new_contact_path ,class:"btn"%>
    </div>
    <div class="col-md-6">
      <%= image_tag "ono_recruitment.jpg" ,id:"post"%>
    </div>
  </div>
</div>
