<div class="footer_contents">
  <nav class="navbar navbar-expand-lg ">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">HOME</a>
        <a class="nav-item nav-link" href="/abouts">おのグルメとは？</a>
        <a class="nav-item nav-link" href="/administrators">運営者情報</a>
        <a class="nav-item nav-link" href="/policies">プライバシーポリシー</a>
        <a class="nav-item nav-link" href="/contacts/new">お問い合わせ</a>
      </div>
    </div>
  </nav>
</div>
