<footer class="footer-container">
   <div class="mobile-footer">
     <div class="footer-item"><a href="/">HO<br>ME</a></div>
     <div class="footer-item"><a href="/abouts">おのグルメ<br>とは？</a></div>
     <div class="footer-item"><a href="/administrators">運営者<br>情報</a></div>
     <div class="footer-item"><a href="/policies">プライ<br>バシー</a></div>
     <div class="footer-item"><a href="/contacts/new">お問い<br>合わせ</a></div>
   </div>
 </footer>
