<footer class="footer-container">
  <div class="fixed-footer">

<% if "topics" == controller.controller_name %>
    <div class="footer-item">
      <a href="/" class="topics">
        <i class="fas fa-home"></i>
        <p>ホーム</p>
      </a>
    </div>
<% else %>
    <div class="footer-item">
      <a href="/" class="footer_button">
        <i class="fas fa-home"></i>
        <p>ホーム</p>
      </a>
    </div>
<% end %>



<% if "like_lists" == controller.controller_name %>
  <% if user_signed_in? %>
    <div class="footer-item">
      <a href="like_lists" class="topics">
         <i class="fas fa-heart"></i>
         <p>いいね</p>
      </a>
    </div>
    <% elsif admin_signed_in? %>
    <div class="footer-item">
      <a href="like_lists" class="topics">
         <i class="fas fa-heart"></i>
         <p>いいね</p>
      </a>
    </div>
    <% else %>
    <div class="footer-item">
      <a type="button" data-toggle="modal" data-target=".exampleModalCenter" class="topics">
         <i class="fas fa-heart"></i>
         <p>いいね</p>
      </a>
    </div>
    <%= render 'topics/modal' %>
   <% end %>
<% else %>
<% if user_signed_in? %>
  <div class="footer-item">
    <a href="like_lists" class="footer_button">
       <i class="fas fa-heart"></i>
       <p>いいね</p>
    </a>
  </div>
  <% elsif admin_signed_in? %>
  <div class="footer-item">
    <a href="like_lists" class="footer_button">
       <i class="fas fa-heart"></i>
       <p>いいね</p>
    </a>
  </div>
  <% else %>
  <div class="footer-item">
    <a type="button" data-toggle="modal" data-target=".exampleModalCenter" class="footer_button">
       <i class="fas fa-heart"></i>
       <p>いいね</p>
    </a>
  </div>
  <%= render 'topics/modal' %>
 <% end %>
<% end %>



<% if "follow_lists" == controller.controller_name %>
    <% if admin_signed_in? %>
    <% elsif user_signed_in? %>
    <div class="footer-item">
      <a href="/follow_lists" class="topics">
        <i class="fas fa-thumbtack"></i>
        <p>フォロー</p>
      </a>
    </div>
    <% else %>
    <div class="footer-item">
      <a type="button" data-toggle="modal" data-target=".exampleModalCenter" class="topics">
         <i class="fas fa-thumbtack"></i>
         <p>フォロー</p>
      </a>
    </div>
        <%= render 'topics/modal' %>
    <% end %>
<% else %>
    <% if admin_signed_in? %>
    <% elsif user_signed_in? %>
    <div class="footer-item">
      <a href="/follow_lists" class="footer_button">
        <i class="fas fa-thumbtack"></i>
        <p>フォロー</p>
      </a>
    </div>
    <% else %>
    <div class="footer-item">
      <a type="button" data-toggle="modal" data-target=".exampleModalCenter" class="footer_button">
         <i class="fas fa-thumbtack"></i>
         <p>フォロー</p>
      </a>
    </div>
        <%= render 'topics/modal' %>
    <% end %>
<% end %>


<% if "shops" == controller.controller_name %>
    <div class="footer-item">
      <a href="/shops" class="topics">
        <i class="fas fa-store"></i>
        <p>お店</p>
      </a>
    </div>
<% else %>
    <div class="footer-item">
      <a href="/shops" class="footer_button">
        <i class="fas fa-store"></i>
        <p>お店</p>
      </a>
    </div>
<% end %>


<% if "coupons" == controller.controller_name %>
  <div class="footer-item">
    <a href="/coupons" class="topics">
      <i class="fas fa-ticket-alt"></i>
      <p>クーポン</p>
    </a>
  </div>
<% else %>
  <div class="footer-item">
    <a href="/coupons" class="footer_button">
      <i class="fas fa-ticket-alt"></i>
      <p>クーポン</p>
    </a>
  </div>
<% end %>


<% if "users" == controller.controller_name %>
    <% if admin_signed_in? %>
    <div class="footer-item">
      <a href="/users" class="topics">
        <i class="fas fa-user"></i>
        <p>店舗</p>
      </a>
    </div>
    <% elsif user_signed_in? %>
    <div class="footer-item">
      <a href="/users" class="topics">
        <i class="fas fa-user"></i>
        <p>ユーザー</p>
      </a>
    </div>
    <% else %>
    <% end %>
<% else %>
    <% if admin_signed_in? %>
    <div class="footer-item">
      <a href="/users" class="footer_button">
        <i class="fas fa-user"></i>
        <p>店舗</p>
      </a>
    </div>
    <% elsif user_signed_in? %>
    <div class="footer-item">
      <a href="/users" class="footer_button">
        <i class="fas fa-user"></i>
        <p>ユーザー</p>
      </a>
    </div>
    <% else %>
    <% end %>
<% end %>



  </div>
</footer>
