<div class="input-group justify-content-center">
<%= search_form_for @search, url: topics_path do |f| %>
  <%= f.search_field :title_cont , type:"text", class:"topic_form"%>
  <span class="input-group-btn">
  <%= f.submit "検索" , class:"btn btn-warning" %>
  </span>
<% end %>
</div>
