<div class="topic_center">
  <%= render partial: "layouts/flash" %>


  <%# トピックのリンク %>
  <%# render 'topics/list' %>

  <%# トピックの記事一覧 %>
  <%= render 'topics/content' %>

  <%# トピックの投稿依頼　%>
  <%# render 'topics/bottom'%>
</div>
