<div class="header">
  <div class="button">
    <a href="#">♡行ってみたいリスト</a>
    <a href="#">インスタグラム</a>
  </div>
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/" id="top_title">おのグルメ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/cafes">カフェ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lunches">ランチ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dinners">ディナー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/breads">パン</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pubs">居酒屋</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/takeouts">テイクアウト</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shops">掲載店</a>
      </li>
    </ul>
  </div>
</nav>
</div>
