<div class="topic_center">
  <div class="about">
  <h1>おのグルメとは？</h1>
  <br>
  <p>おのグルメとは、兵庫県小野市のグルメに特化して、美味しいお店を紹介する地域情報サイトです。<br>
    <br>
    なぜこのようなサイトを作ったかというと、僕は兵庫県小野市で生まれ、ずっと小野市で過ごしてきました。<br>
    <br>
    そんな中で小野市には美味しい飲食店がたくさんあることを知っています。<br>
    <br>
    しかし、食べログなど大手グルメサイトでは、チェーン店のみしっかりした情報が掲載されていて、個人のお店は基本情報しか載っていないことがほとんどです。<br>
    <br>
    ネットなどに載っていないだけで、昔からある本当に美味しいお店や居酒屋が小野市にはたくさんあります。<br>
    <br>
    1人でも多くの方に、小野市のグルメを届けたいという思いから、当サイトを作りました。<br>
    <br>
    また、現在コロナウイルスでテイクアウトが主流となってきています。<br>
    <br>
    しかし、ホームページもないお店がテイクアウトを初めても、中々広まらないのが現実です。<br>
    <br>
    そこでこの当サイトで、テイクアウトのメニューや写真を載せることで、小野市いや日本中の方にみてもらうことが出来ます。<br>
    <br>
    僕はこの小野市が大好きで、観光に来られる方にもこの素晴らしい小野市のグルメを紹介したいです。<br>
    <br>
    小野市が大好きな1人の大学生が始めた当サイトを温かく見守って頂ければ幸いです。<br>
    <br>
  </p>
  <h1>取材に来て欲しい</h1>
    <br>
    <p>「うちの店もおのグルメに載せて欲しい！！」などのお声がありましたら、すぐに取材に行きますので、下記のお問い合わせからご連絡ください。<br>
      <br>
      お店の紹介や新メニューの紹介などなんでも承りますので気軽にご連絡頂けたらと思います。<br>
      <br>
      また、「こんな感じで載せて欲しい」「この写真を使って欲しい」などご注文ありましたら遠慮なく言ってください。<br>
      <br>
      ご連絡お待ちしています。
      </p>
  </div>
</div>
