<div class="topic_center">
  <div class="about">
  <h1>運営者情報</h1>
  <br>
  <p>一緒にサイト運営や取材など、小野市の活性化を手伝ってくれるかた大募集です！！！</p>
  <br>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "introduction.jpg", id:"introduction" %>
    </div>
    <div class="col-md-6">
      <h3>企画・サイト運営・WEBアプリ開発</h3>
      <br>
      <p>名前：聖大</p>
      <p>趣味：旅行、プログラミング</p>
      <p>おのグルメのサイトを作ることを計画し、運営から取材全てを行っています。
      どうすればこのサイトがより多くの人に見てもらえるのか日々模索中です。
      </p>
    </div>
  </div>
</div>
