<div class="topic_center">
  <div class="about">
  <h1>運営者情報</h1>
  <br>
  <p>一緒にサイト運営や取材など、小野市の活性化を手伝ってくれるかた大募集です！！！</p>
  <br>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "introduction.jpg", id:"introduction" %>
    </div>
    <div class="col-md-6">
      <h3><i class="fas fa-check"></i> 企画・サイト運営・WEBアプリ開発</h3>
      <br>
      <p>名前：聖大</p>
      <p>趣味：旅行、プログラミング、インスタ運用</p>
      <p>
      おのグルメのサイトを作ることを計画し、運営から取材全てを行っています。この土地に生まれて約20年間、小野市で育ってきました。日々どうすれば小野市がもっと発展するのだろうか、小野市に貢献できるのだろうかを日々模索中です。よろしくお願いします。
      </p>
    </div>
  </div>
</div>
