@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap";
@import "actiontext";

// ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// フラッシュ
.alert-notice {
  @extend .alert-info;
}
.alert-alert {
  @extend .alert-danger;
}


//全体設定
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
  padding-bottom: 20px;
}
.container-login{
  margin-bottom: 60px;
}
.container-login h2{
  font-size: calc(15 * ((100vw - 320px) / 1600) + 18px);
}
.container-login #user_user_image{
  font-size: calc(6 * ((100vw - 320px) / 1600) + 10px);
}




//ハンバーガーボタン
.el_humburger {
  position: fixed;
  top: calc(20 * ((100vw - 320px) / 1600) + 13px);
  right: 60px;
  width: 46px;
  height: 25px;
  padding-top: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 0px;
  z-index: 20;
  cursor: pointer;
  pointer-events: auto;
  color: #000;
  text-align: center;
}
@media screen and (max-width: 840px) {
  .el_humburger {
    display: block;
    right: 0;
    padding-top: 0px;
    width: 70px;
    height: 70px;}
    #factory .el_humburger {
      display: none;
      }
     }
.el_humburger_wrapper {
  margin-bottom: 5px;
  width: calc(28 * ((100vw - 320px) / 1600) + 23px);
  display: inline-block;
}
@media screen and (max-width: 840px) {
  .el_humburger_wrapper {
    margin-bottom: 5px;
    // width: 30px;
    }
  }
.el_humburger_text {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-family: "游ゴシック Medium", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif; }
.js_humburgerOpen .el_humburger_text.el_humburger_text__menu {
  display: none;
}
.el_humburger_text.el_humburger_text__close {
  display: none;
}
.js_humburgerOpen .el_humburger_text.el_humburger_text__close {
  display: block;
}
@media screen and (max-width: 840px) {
  .el_humburger_text {
    font-size: 10px;
    padding-top: 2px;
  }
}
@media screen and (max-width: 840px) {
  .el_humburger_text svg path {
    -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
    fill: #000;
    }
  }
@media screen and (max-width: 840px) {
  .js_humburgerOpen .el_humburger_text svg path {
    fill: #000;
    }
  }
.el_humburger span.el_humburger_bar {
  display: block;
  width: 100%;
  margin: 0 auto 9px;
  height: 1px;
  background: #000;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.el_humburger span.el_humburger_bar:last-child {
  margin-bottom: 0;
  }
.js_humburgerOpen .el_humburger span.el_humburger_bar {
  background: #000;
}
@media screen and (max-width: 840px) {
  .el_humburger span.el_humburger_bar {
    left: 0;
    top: 0;
    background: #000;
    }
  }
.js_humburgerOpen .el_humburger span.el_humburger_bar.top {
  -webkit-transform: translateY(9px) rotate(-45deg);
  -ms-transform: translateY(9px) rotate(-45deg);
  transform: translateY(9px) rotate(-45deg); }
.js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
  opacity: 0;
}
.js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-11px) rotate(45deg);
  -ms-transform: translateY(-11px) rotate(45deg);
  transform: translateY(-11px) rotate(45deg);
}
.el_humburgerButton.el_humburgerButton__close {
  top: 2%;
  right: 2%;
 }
.el_humburgerButton__close span.el_humburger_bar {
  display: block;
  width: 35px;
  margin: 0 auto;
  height: 4px;
  background: #000;
}
.el_humburgerButton__close span.el_humburger_bar.top {
  -webkit-transform: translateY(5px) rotate(-45deg);
  -ms-transform: translateY(5px) rotate(-45deg);
  transform: translateY(5px) rotate(-45deg);
}
.el_humburgerButton__close span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
}
.navi {
  position: fixed;
  right: 0;
  height: 100%;
  background-color: #fff4db;
  width: 0;
  z-index: 3;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  overflow: hidden;
}
  .js_humburgerOpen .navi {
    width: 300px;
  }
    @media screen and (max-width: 840px) {
      .js_humburgerOpen .navi {
        width: 35%;
        padding: 100px 5% 0;
        }
      }
.navi_item {
  margin-bottom: 28px;
  font-size: 20px;
  font-family: "Marcellus", serif !important;
  white-space: nowrap;
  margin-left: 90px;
}
.navi_item a:hover{
  text-decoration: none;
  color: orange;
}
  .navi_item.op_innerLink {
    cursor: pointer;
   }
  @media screen and (max-width: 840px) {
    .navi_item {
      margin-left: 0;
      font-size: calc(4 * ((100vw - 320px) / 1600) + 12px);
}
    }







*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.cp_cont {
	height: 65vh;
}
.cp_offcm01 {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
}
/* menu */
.cp_offcm01 .cp_menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: #607D8B;
	opacity: 0.8;
}
.cp_offcm01 .cp_menu ul {
	marginc: 0;
	padding: 0;
}
.cp_offcm01 .cp_menu li {
	list-style: none;
}
.cp_offcm01 .cp_menu li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.cp_offcm01 #cp_toggle01 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
	-webkit-transform: translateX(-100vw);
	        transform: translateX(-100vw);
}
/* menu toggle */
.cp_offcm01 #cp_toggle01 ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: #333333;
}
.cp_offcm01 #cp_toggle01:checked ~ label {
	-webkit-transform: translateX(-250px);
	        transform: translateX(-250px);
}
.cp_offcm01 #cp_toggle01 ~ label::before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	font-size: 2em
}
.cp_offcm01 #cp_toggle01:checked ~ label::before {
	content: '\f00d';
}
/* contents */
.cp_contents {
	color: #333333;
	text-align: center;
}



// 管理者　記事の変更・削除
.topic_center .article_editing{
  margin-left: 40px;
}

// コンテンツの幅指定
.topic_center{
  max-width: 1100px;
  margin: 30px auto calc(100 * ((100vw - 320px) / 1600) + 45px) auto;
}


// // ヘッダーの画像の大きさ
// #header_image{
//   height: auto;
//   max-height: 570px;
//   width: 100%;
//   margin-bottom: 25px;
// }
// headerのナビゲーションバーの設定
.header{
  width: 100%;
  height: auto;
  background-color: #ff8c19;
}
.header nav .top_title{
  font-size: calc(24 * ((100vw - 320px) / 1600) + 20px);
}
.header nav a{
  color: white;
  font-size: calc(13 * ((100vw - 320px) / 1600) + 10px);
  display: flex;
 align-items: center;
 justify-content: center
}


.topic_content .topic_genre .cafe{
  color: #f05579;
}
.topic_content .topic_genre .lunch{
  color: #f7a01e;
}
.topic_content .topic_genre .dinner{
  color: #0000ff;
}
.topic_content .topic_genre .bread{
  color: #c1272d;
}
.topic_content .topic_genre .pub{
  color: #B455A0;
}
.topic_content .topic_genre .takeout{
  color: #ff4500;
}



// トピック一覧
// トピックのリンク
.topic-list{
  margin: 60px 0 30px 10px;
  text-align: center;
}
//トピックの１つづつのリンク
.topic-list .topic_tag{
  margin: 0 20px;
  padding: 10px 50px;
  background-color: #ff8c19;
  color: white;
  text-decoration: none;
}
// トピックの検索機能のフォーム
.topic_form{
  margin: 10px 0;
  padding: 5px 0;
  width: 30vw;
}
// トピックの検索機能のボタン
.input-group .btn {
  margin-bottom: 3px;
}

// トピックのaタグ
.topic_content a{
  text-decoration: none;
  color: black;
}
// トピックのカード
.topic_content .card{
  position:relative;
  border:solid 1px silver;
  border-radius: 0 0 0 0;
  margin: 20px auto;
  max-width: 350px;
  max-height: 465px;
}
.topic_content .card .card-body{
  min-height: 195px;
  min-width: 100px;
  padding: 10px 10px;
}
// トピックの画像
.topic_content #card_image{
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  max-width: 350px;

}
.topic_content #shop_image{
  position: absolute;
  top: calc(3 * ((100vw - 320px) / 1600) + 175px);
  right: 1px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.topic_content .card-body .shop_title{
  position: relative;
  font-size: calc(4 * ((100vw - 320px) / 1600) + 12px);
  font-weight: bold;
  word-break: break-all;
  width: 75%;
}
.topic_content .card-body .shop_title:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 120%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #6ad1c8, #6ad1c8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, orange, orange 2px, #fff 2px, #fff 4px);
}
// トピックのジャンル
.topic_content .topic_genre span{
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold ;
  color: white;
  font-size: calc(5 * ((100vw - 320px) / 1600) + 12px);
}
.topic_content .topic_genre .cafe{
  background-color: #f05579;
  padding: 5px 10px;
  color: white;
}
.topic_content .topic_genre .lunch{
  background-color: #f7a01e;
  padding: 5px 10px;
  color: white;
}
.topic_content .topic_genre .dinner{
  background-color: #0000ff;
  padding: 5px 10px;
  color: white;
}
.topic_content .topic_genre .bread{
  background-color: #c1272d;
  padding: 5px 10px;
  color: white;
}
.topic_content .topic_genre .pub{
  background-color: #B455A0;
  padding: 5px 10px;
  color: white;
}
.topic_content .topic_genre .takeout{
  background-color: #ff4500;
  padding: 5px 10px;
  color: white;
}
// トピックのタイトル
.topic_content .topic_title{
  // font-size: 1.1vw;
  font-size: calc(3 * ((100vw - 320px) / 1600) + 13px);
  font-weight: bold;
}
// トピックの店の名前
.topic_content .topic_shop_name{
  position: absolute;
  // bottom: 54px;
  bottom: calc(17 * ((100vw - 320px) / 1600) + 33px);
  font-size: 0.7vw;
}
// トピックの住所
.topic_content .topic_address{
  position: absolute;
  bottom: calc(7 * ((100vw - 320px) / 1600) + 5px);
  font-size: 0.7vw;
  word-break: keep-all;
}
// トピックの日付
.topic_content .topic_day{
  position: absolute;
  bottom: -10px;
  // left: 8px;
  left: 10px;
  font-size: 0.7vw;
}
// トピックの表示回数
.topic_content .topic_view{
  position: absolute;
  bottom: -10px;
  right: 70px;
  font-size: 0.7vw;
}

// トピックのいいね
.topic_content .like_button{
  position: absolute;
  font-size: 170%;
  bottom: -7px;
  right: 6px;
}

//Modal window
.modal h3{
  font-size: calc(12 * ((100vw - 320px) / 1600) + 16px);
  font-weight: bold;
}
.modal .modal-body p{
  font-size: calc(12 * ((100vw - 320px) / 1600) + 12px);
}



// トピック詳細
//　トピック詳細の小見出し　ActionText
.topic_show h1 {
  font-size: calc(11 * ((100vw - 320px) / 1600) + 17px);
  font-weight: bold;
  color: #ff8c19;
  border-bottom: double 5px #FFC778;
}
//　トピック詳細のcontentsの改行
.topic_show {
  word-break:break-all;
  font-size: calc(6 * ((100vw - 320px) / 1600) + 13px);
}
//　トピック詳細のSNS拡散ボタン（親）
.topic_show .sns_button{
  margin-top: 10%;
  margin: 30px auto 0 auto;
  font-size: 1vw;
}
//　トピック詳細のSNS拡散ボタン（子）
.topic_show .sns_button .button{
  color: white;
  border-radius: 5px;
  padding: 1.3% 4%;
  margin-left: 10px;
  width: 100%;
}
//　トピック詳細のSNS拡散ボタン　Facebook
.topic_show .sns_button #facebook{
  background-color: #3B5998;
}
//　トピック詳細のSNS拡散ボタン　Twitter
.topic_show .sns_button #twitter{
  background-color: #00acee;
}
//　トピック詳細のSNS拡散ボタン　LINE
.topic_show .sns_button #line{
  background-color: #00B900;
}
// トピック詳細のお店画像
.topic_show #show_shop_image{
  width: 100%;
  height: auto;
  margin-bottom:20px;
}
// トピック詳細の地図
.topic_show iframe{
  padding-top: 20px;
  width: 100%;
  height:400px;
}
// トピック詳細のタイトル
.topic_show h2 {
  font-size: calc(13 * ((100vw - 320px) / 1600) + 19px);
  position: relative;
  color: white;
  background: #ff8c19;
  line-height: 1.4;
  margin-bottom: 30px;
  padding: 10px 0 10px calc(40 * ((100vw - 320px) / 1600) + 38px);
}
.topic_show h2:before {
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  font-weight: 900;
  position: absolute;
  left : 0.5em;
}
// トピック詳細のお店情報
.topic_show ul {
  margin: 0 auto;
  list-style: none;
  background: #fffde8;
  box-shadow: 0px 0px 0px 5px #fffde8;
  border: dashed 2px #ffb03f;
  border-radius: 9px;
  padding: 10px 8px 10px 8px;
  margin: 0 auto;
  width: 92%;
  height: auto;
}
.topic_show ul li{
  font-size: 0.9vw;
  border-bottom: dashed 1px silver;
  line-height: 1.5;
  padding: 10px 0;
  min-height: 40px;
}
.topic_show span.row2 {
  font-size: 1vw;
  display: block;
  margin-left: 140px;
}



// トピック詳細　人気記事ランキング
// トピック「人気ランキング」
.topic_show .col-md-3 a:hover{
  text-decoration: none;
  color: black;
  position: relative;
  top: -3px;
  left: 0px;
}
.topic_show h4{
  text-align: center;
  font-weight: bold;
  margin: 60px auto 20px auto;
  font-size: calc(7 * ((100vw - 320px) / 1600) + 12px);
}
.topic_show .card #card_image{
  border-radius: 3px 3px 0 0;
  max-width: calc(100 * ((100vw - 320px) / 1600) + 130px);
  max-height: calc(80 * ((100vw - 320px) / 1600) + 50px);
}
//トピック人気ランキング　カード
.topic_show .card{
  max-width: calc(100 * ((100vw - 320px) / 1600) + 130px);
  max-height: calc(100 * ((100vw - 320px) / 1600) + 190px);
  margin: 20px auto;
  border: solid 1px gray;
}
// トピックの順位
.topic_show h3{
  margin: 0 auto;
  border-radius: 45%;
  max-width: 15%;
  font-size: 12px;
  background-color: #d2691e;
  padding: 10px 0;
  color: white;
}
// トピックのAタグ
.topic_show a:hover{
  color: blue;
}
// トピックのジャンル
.topic_show .topic_genre{
  font-size: 10px;
  margin: -10px 0 10px -10px;
}
// トピックの人気記事タイトル
.topic_show .topic_title{
  // font-size: 14px;
  font-size: calc(1 * ((100vw - 320px) / 1600) + 10px);
  font-weight: bold;
}
// トピックの表示回数
.topic_show .topic_view{
  text-align: right;
  margin: -35px 20px 10px 0;
  display: inline;
  font-size: 0.5vw;
}
//トピック画像
.topic_show #card_image{
  max-width: 100%;
  height: auto;
}
.topic_show hr{
  text-align: center;
  margin: 30px auto;
}
.trix-content img{
  width: 100%;
  max-height: 500px;
}



//店長オススメ店一覧
.manager_topic a{
  text-decoration: none;
  color: black;
}
.manager_topic .card{
  border: solid 2px silver;
  max-width: 312px;
  max-height: 325px;
  margin: 20px auto;
}
.manager_topic #card_image{
  border-radius: 2px 2px 0 0;
  max-width: 308px;
  max-height: 200px;
}
.manager_topic h5{
  font-size: 0.7vw;
}
.manager_topic h4{
  text-align: center;
  font-size: 1.2vw;
  border-bottom: double 5px #FFC778;
  word-break: keep-all;
}
//店長オススメ店詳細
// 吹き出し
.talk {
margin: 50px 0 40px 0;

}
.talk figure #word {
width: 100%;
height: 100%;
border: 2px solid #ff7f50;
border-radius: 50%;
margin: 0;
}
/* 画像の下のテキスト */
.talk-imgname {
padding: 5px 0 0;
font-size: 10px;
text-align: center;
}
p.talk-text {
margin: 0 0 8px;
}
p.talk-text:last-child {
margin-bottom: 0px;
}
/* 回り込み解除 */
.talk:after,.talk:before {
clear: both;
content: "";
display: block;
}
/* 左画像 */
.talk-Limg {
margin-left: 4px;
margin-top: -1px;
float: left;
width: 60px;
height: 60px;
}
/* 左からの吹き出しテキスト */
.talk-Ltxt {
color: #444;
position: relative;
margin-left: 100px;
padding: 1.2em;
border: 3px solid #ff7f50;
background-color: #fff;
border-radius: 5px;
}
/* 左の三角形を作る */
.talk-Ltxt:before {
position: absolute;
content: '';
border: 10px solid transparent;
border-right: 10px solid #ff7f50;
top: 15px;
left: -20px;
}
.talk-Ltxt:after {
position: absolute;
content: '';
border: 10px solid transparent;
border-right: 10px solid #fff;
top: 15px;
left: -16px;
}



// 投稿と宣伝
.bottom_content{
  margin-top: 30px;
}
// 投稿関連
.bottom_content .post{
  margin: 20px 0 0px 0;
  max-width: 100%;
  height: auto;
}


// リンクの詳細
.link_list h1{
  text-align: center;
}
// 掲載店
.shop_content h1{
  text-align: center;
}
// .shop_content a{
//   color: black;
// }
.shop_content a:hover{
  text-decoration: none;
  color: black;
}
.shop_content .card{
  position: relative;
  background: #fffde8;
  border: solid 1px black;
  max-width: 360px;
  min-height: calc(115 * ((100vw - 320px) / 1600) + 440px);
  margin: 20px auto;
  border-radius: 0 0 0 0;
}
.shop_content .card #card_image{
  width: 100%;
  height: auto;
}
.shop_content .unfollow{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 10px;
  background-color: white;
  border: solid 1px #00ccff;
  color: #00ccff;
}
.shop_content .unfollow:hover{
  color: #00ccff;
}
.shop_content .followed{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 10px;
  background-color: #00ccff;
  border: solid 1px #00ccff;
  color: white;
}
.shop_content .followed:hover{
  color: white;
}
.shop_content .card h3{
  height: calc(12 * ((100vw - 320px) / 500) + 25px);
  word-break: keep-all;
  text-align: center;
  font-size: calc(4 * ((100vw - 320px) / 500) + 14px);
}
.shop_content ul {
  max-height: 260px;
  min-height: 260px;
  margin: 0 auto;
  list-style: none;
  padding-left: 10px;
  width: 100%;
}
.shop_content ul li{
  border-bottom: dotted 2px #cecccd;
  line-height: 1.5;
  min-height: 30px;
}
トピック詳細のお店情報　テーブル化
.shop_content span.row1{
  float: left;
  font-size: 0.8vw;
}
.shop_content span.row2 {
  display: block;
  font-size: 0.8vw;
  word-break: keep-all;
  margin-left: 27px;
  margin-top: -20px;
}
.shop_content .row2 a{
  display: block;
  font-size: 1vw;
  margin-left: 27px;
  margin-top: -20px;
}
.shop_content #card_image{
  width: 358px;
  height: 200px;
}
.shop_content .card-body li{
  word-break: normal;
  margin: 7px 0;
  list-style: none;
  font-size: 15px;
}


//掲載店の詳細
.listing_shop h1{
  text-align: center;
}
.listing_shop p{
  text-align: center;
}
.shop_show h1{
  font-size: calc(5 * ((100vw - 320px) / 500) + 18px);
}



//投稿画面
.post h2{
  font-size: 2vw;
}
.post select{
  font-size: 0.8vw;
}
.post .field label{
  font-size: 1vw;
}
.post .field input{
  font-size: 0.8vw;
}
.post .field button{
  font-size: 1vw;
}
.post h4{
  font-size: 1.5vw;
}
.post table{
  font-size: 0.5vw;
}



//　管理者画面
//一覧
.management{
  padding: 10px;
  margin-bottom: 100px;
}
.management h2{
  margin: 20px 0;
}
.management ul{
  margin: 0 auto 4vw auto;
  font-size: 1vw;
}
.management li{
  list-style: none;
  display: inline;
}
.management li a{
  min-width: 170px;
  margin: 0.6vw auto;
}
.management tr{
  font-size: 0.6vw;
}











// フッター詳細ページ
// H1見出し
.about h1 {
  position: relative;
  // padding: 0.6em;
  padding: 20px 10px;
  width: 100%;
  background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
  background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
  border-radius: 7px;
  font-size: calc(5 * ((100vw - 320px) / 500) + 19px);
}
.about h1:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #ffebbe;
  width: 0;
  height: 0;
}
.about h3{
  font-size: calc(4 * ((100vw - 320px) / 500) + 17px);
  font-weight: bold;
  margin-top: 10px;
}
// 運営者の写真の大きさ
.about #introduction{
  max-width: 100%;
  height: auto;
  margin: 0 auto 5px auto;
  padding: 0 auto;
}
// プライバシーポリシーの内容を四角で囲む
.about .content{
  margin: 30px 0;
  padding: 15px;
  border: solid 1px grey;
}

//ユーザー画面
.user_show{
  margin-bottom: 20px;
}
.user_show #user_image{
  border: solid 1px black;
  border-radius: 10px;
  width: calc(70 * ((100vw - 320px) / 500) + 200px);
  height: calc(60 * ((100vw - 320px) / 500) + 150px);
}
.user_show .user_image{
  border: solid 1px black;
  border-radius: 10px;
  width: calc(70 * ((100vw - 320px) / 500) + 200px);
  height: calc(60 * ((100vw - 320px) / 500) + 150px);
}
.user_show .admin_manage{
  width: 100px;
  height: auto;
}
.user_show .btn{
  color: white;
}


// トピック詳細のお店情報
.user_show ul {
  margin: 0 auto;
  list-style: none;
  background: #fffde8;
  box-shadow: 0px 0px 0px 5px #fffde8;
  border: dashed 2px #ffb03f;
  border-radius: 9px;
  padding: 10px 8px 10px 8px;
  margin: 0 auto;
  // width: 92%;
  width: calc(160 * ((100vw - 320px) / 500) + 250px);
  // height: calc(60 * ((100vw - 320px) / 500) + 400px);
  height: auto;
}
.user_show ul li{
  font-size: 0.9vw;
  border-bottom: dashed 1px silver;
  line-height: 1.5;
  padding: 10px 0;
  min-height: 40px;
}
.user_show span.row2 {
  font-size: 1vw;
  display: block;
}
.user_show span .button{

  width: 30%;
  font-size: calc(3 * ((100vw - 320px) / 500) + 10px);
  margin: 10px 2px 0 2px;
}





//ページネーション
.pagination {
  margin: 20px auto;
  max-width: 100%;
  font-size: 0.5vw;
  justify-content: center;
}
.pagination li{
  font-size: calc(4 * ((100vw - 320px) / 500) + 10px);
}
//ページネーション自体のデザイン
.pagination li a {
  border: none;
  color: #696969;
}
//表示しているページ番号のデザイン
.pagination .active a {
  background-color: #ff8c19;
}
//表示しているページ番号のデザイン
.pagination .active .page-link {
  background-color: #ff8c19;
}
//ホバー時のデザイン
.pagination li a:hover {
  background-color: #c44806;
  color: white;
}
//ページネーションの個々のpadding
.pagination .page-link{
  padding: 8px 7px;
}



//フッター
.footer-container {
  background-color: #ff8c19;
  width: 100%;
  padding: 0.7rem 0 0 0;
  position: fixed;
  bottom: 0;
  z-index: 999;
}
.fixed-footer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.footer-container .footer-item{
  font-size: calc(4 * ((100vw - 320px) / 500) + 10px);
  color: white;
  padding: 0 calc(5 * ((100vw - 320px) / 500) + 10px);
}
.footer-container .footer-item i{
  font-size: calc(10 * ((100vw - 320px) / 500) + 15px);
  align-items: center;
  justify-content: center;
  display: flex;
}
.footer-container .footer-item p{
  font-size: calc(3 * ((100vw - 320px) / 500) + 10px);
  text-align: center;
}
.footer-container .footer-item a:hover{
  text-decoration: none;
  color: #c44806;
}



// // スマホ用ヘッダー
//   .mobile_header{
//     background-color: #ff8c19;
//     padding-top: 15px;
//   }
// //スマホ用ヘッダー　タイトル
//   .mobile_header .top_title{
//     margin-left: 20px;
//     font-size: 40px;
//     color: white;
//     }
// //スマホ用ヘッダー　タイトルのマウスが当たった時
//   .mobile_header .top_title:hover{
//     text-decoration: none;
//   }
// //スマホ用ヘッダー　スライドコンテンツ
//   .menu-container {
//     padding-top: 5px;
//     margin: 0;
//     overflow-x: auto;
//   }
//   .menu-container .menu {
//     display: flex;
//     justify-content: space-between;
//     list-style: none;
//     margin: 0;
//     padding: 0;
//   }
//   .menu-container .menu::after {
//     clear: both;
//     content: "";
//     display: block;
//   }
//   .menu-container .menu .menu-item {
//     flex: 1;
//     white-space: nowrap;
//   }
//   .menu-container .menu .menu-item a {
//     background: #ff8c19;
//     font-size: 1.5vw;
//     border: 1px solid white;
//     border-right: none;
//     color: white;
//     display: block;
//     min-width: 150px;
//     padding: 0.8em 0.4em;
//     text-align: center;
//     text-decoration: none;
//   }

  // .menu-container .menu .menu-item .recommendation:hover{
  //   background-color: #1fb6e2;
  // }
  // .menu-container .menu .menu-item .cafe:hover{
  //   background: #f05579;
  // }
  // .menu-container .menu .menu-item .lunch:hover{
  //   background: #f7a01e;
  // }
  // .menu-container .menu .menu-item .dinner:hover{
  //   background: #0000ff;
  // }
  // .menu-container .menu .menu-item .bread:hover{
  //   background: #c1272d;
  // }
  // .menu-container .menu .menu-item .pub:hover{
  //   background: #B455A0;
  // }
  // .menu-container .menu .menu-item .takeout:hover{
  //   background: #ff4500;
  // }
  // .menu-container .menu .menu-item .shop:hover{
  //   background: #22b573;
  // }
  // .menu-container .menu .menu-item:last-child a {
  //   border-right: 1px solid #c44806;
  // }



@media screen and (min-width: 1110px) {
  // 携帯用ヘッダー

  .footer-container .footer-item a br{
    display: none;
  }

}

@media screen and (min-width: 600px) and (max-width: 1110px) {
  // スマホ用ヘッダー
  // 通常のheaderをオフにする


    //PROUSER画面
     .pro_user{
       padding: 0 20px;
     }
     .pro_user .overflow{
       display: block;
       overflow-x: scroll;
       white-space: nowrap;
       -webkit-overflow-scrolling: touch;
     }
     // .footer-container .footer-item a br{
     //   display: none;
     // }
     .topic_center .about{
       padding: 0 15px;
     }
}


@media screen and (max-width: 600px){
  .shop_content .card .card_header{
    min-height: 35px;
    max-height: 75px;
  }

// スマホ用ヘッダー
// 通常のheaderをオフにする


  .topic_center {
    padding: 2px 5px;
  }
//トピック詳細の地図の大きさ
  .topic_show iframe{
    width: 100%;
    height: 200px;
  }
//トピック人気ランキング　カード
  .topic_show .card{
    margin: 0 auto;
    width: 250px;
  }
  .topic_show h4{
    text-align: center;
    margin: 30px 0 15px 0;
  }
// トピックの順位
  .topic_show h3{
    width: 200px;
    margin:20px auto;
    border: solid 1px black;
    border-radius: 20px;
  }

//管理者画面
 .management {
   padding: 0 20px;
 }
 .management .overflow{
   display: block;
   overflow-x: scroll;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
 }

//PROUSER画面
 .pro_user{
   padding: 0 20px;
 }
 .pro_user .overflow{
   display: block;
   overflow-x: scroll;
   white-space: nowrap;
   -webkit-overflow-scrolling: touch;
 }
 .topic_center .about{
   padding: 0 15px;
 }


}

@media screen and (max-width: 400px) {
  .footer-container .footer-item p{
    display: none;
  }
  .footer-container {
    padding: 0.7rem 0 0.7rem 0;
  }
}
