<div class="topic_center">
  <div class="about">
  <h1>プライバシーポリシー</h1>
  <br>
  <h3>・個人情報の利用目的</h3>
  <div class="content">
  <p>
    当サイトでは、お問い合わせや記事へのコメントの際、名前やメールアドレス等の個人情報を入力いただく場合がございます。<br>
    取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどをでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。<br>
  </p>
  </div>
  <br>
  <h3>・個人情報の開示、訂正、削除について</h3>
  <div class="content">
    <p>ご本人からの個人データの開示、訂正、追加、削除、利用停止のご希望の場合には、ご本人であることを確認させていただいた上、速やかに対応させていただきます。
  </p>
  </div>
  <br>
  <h3>・アクセス解析ツールについて</h3>
    <div class="content">
    <p>
      当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。<br>
      このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。<br>
      トラフィックデータは匿名で収集されており、個人を特定するものではありません。<br>
    </p>
    </div>
    <br>
    <h3>・免責事項</h3>
    <div class="content">
    <p>
      当サイトからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。<br>
      また当サイトのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。<br>
      当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。<br>
    </p>
    </div>
    <br>
    <h3>・著作権について</h3>
    <div class="content">
    <p>
      当サイトで掲載している文章や画像などにつきましては、無断転載することを禁止します。<br>
      当サイトは著作権や肖像権の侵害を目的としたものではありません。著作権や肖像権に関して問題がございましたら、お問い合わせフォームよりご連絡ください。迅速に対応いたします。
    </p>
    </div>
    <br>
    <h3>・リンクについて</h3>
    <div class="content">
    <p>
      当サイトは基本的にリンクフリーです。リンクを行う場合の許可や連絡は不要です。
    </p>
    </div>
  </div>
</div>
